<template>
  <div class="max-w-md m-auto py-10">
    <div class="text-red" v-if="error">{{ error }}</div>
    <h3 class="font-mono font-regular text-3xl mb-4">Add a new book</h3>

    <form @submit.prevent="addBook">
      <div class="mb-6">
        <label for="book_title" class="label">Title</label>
        <input
          type="text"
          id="book_title"
          class="input"
          autofocus
          autocomplete="off"
          placeholder="Type a book name"
          v-model="newbook.title">
      </div>

      <div class="mb-6">
        <label for="book_year" class="label">Year</label>Author
        <input
          type="text"
          id="book_year"
          class="input"
          autofocus
          autocomplete="off"
          placeholder="Year"
          v-model="newBook.year">
      </div>

      <div class="mb-6">
        <label for="author" class="label">Author</label>
        <select id="author" class="select" v-model="newBook.author">
          <option disabled value="">Select an author</option>
          <option :value="author.id" v-for="author in authors" :key="author.id">{{ author.name }}</option>
        </select>
        <p class="pt-4">Don't see an author? <router-link to="/author" class="link-grey">Create one</router-link></p>
      </div>

      <input type="submit" value="Add Book" class="font-sans font-bold px-4 rounded cursor-pointer no-underline bg-green hover:bg-green-dark block w-full py-4 text-white items-center justify-center">
    </form>

    <hr class="border border-grey-light my-6" />

    <ul class="list-reset mt-4">
      <li class="py-4" v-for="book in books" :key="book.id" :book="book">
        <div class="flex items-center justify-between flex-wrap">
          <div class="flex-1 flex justify-between flex-wrap pr-4">
          <p class="block flex font-mono font-semibold flex items-center">
            <svg class="fill-current text-indigo w-6 h-6 mr-2" viewBox="0 0 24 24" width="24" height="24"><title>book vinyl</title><path d="M23.938 10.773a11.915 11.915 0 0 0-2.333-5.944 12.118 12.118 0 0 0-1.12-1.314A11.962 11.962 0 0 0 12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12c0-.414-.021-.823-.062-1.227zM12 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-5a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" ></path></svg>
            {{ book.title }} &mdash; {{ book.year }}
          </p>
          <p class="block font-mono font-semibold">{{ getAuthor(book) }}</p>
        </div>

        <button class="bg-transparent text-sm hover:bg-blue hover:text-white text-blue border border-blue no-underline font-bold py-2 px-4 mr-2 rounded"
          @click.prevent="editBook(book)">Edit</button>

        <button class="bg-transparent text-sm hover:bg-red text-red hover:text-white no-underline font-bold py-2 px-4 rounded border border-red"
         @click.prevent="removeBook(book)">Delete</button>
        </div>

        <div v-if="book == editedBook">
          <form action="" @submit.prevent="updateBook(book)">
            <div class="mb-6 p-4 bg-white rounded border border-grey-light mt-4">

              <div class="mb-6">
                <label class="label">Title</label>
                <input class="input" v-model="book.title">
              </div>

              <div class="mb-6">
                <label class="label">Year</label>
                <input class="input" v-model="book.year">
              </div>

              <div class="mb-6">
                 <select id="author_update" class="select" v-model="book.author">
                    <option disabled value="">Select an author</option>
                  <option :value="author.id" v-for="author in authors" :key="author.id">{{ author.name }}</option>
                  </select>
              </div>

              <input type="submit" value="Update" class="bg-transparent text-sm hover:bg-blue hover:text-white text-blue border border-blue no-underline font-bold py-2 px-4 mr-2 rounded">
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Books',
  data () {
    return {
      authors: [],
      books: [],
      newBook: [],
      error: '',
      editedBook: ''
    }
  },
  created () {
    if (!localStorage.signedIn) {
      this.$router.replace('/')
    } else {
      this.$http.secured.get('/api/v1/books')
        .then(response => { this.books = response.data })
        .catch(error => this.setError(error, 'Something went wrong'))

      this.$http.secured.get('/api/v1/authors')
        .then(response => { this.authors = response.data })
        .catch(error => this.setError(error, 'Something went wrong'))
    }
  },
  methods: {
    setError (error, text) {
      this.error = (error.response && error.response.data && error.response.data.error) || text
    },
    getAuthor (book) {
      const bookAuthorValues = this.authors.filter(author => author.id === book.author_id)
      let author

      bookAuthorValues.forEach(function (element) {
        author = element.name
      })

      return author
    },
    addBook () {
      const value = this.newBook
      if (!value) {
        return
      }
      this.$http.secured.post('/api/v1/books/', { book: { title: this.newBook.title, year: this.newBook.year, author_id: this.newBook.author } })

        .then(response => {
          this.books.push(response.data)
          this.newBook = ''
        })
        .catch(error => this.setError(error, 'Cannot create book'))
    },
    removeBook (book) {
      this.$http.secured.delete(`/api/v1/books/${book.id}`)
        .then(response => {
          this.books.splice(this.books.indexOf(book), 1)
        })
        .catch(error => this.setError(error, 'Cannot delete book'))
    },
    editBook (book) {
      this.editedBook = book
    },
    updateBook (book) {
      this.editedBook = ''
      this.$http.secured.patch(`/api/v1/books/${book.id}`, { book: { title: book.title, year: book.year, author_id: book.author } })
        .catch(error => this.setError(error, 'Cannot update book'))
    }
  }
}
</script>
